In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
patient_csv = "patient.csv"
patient_df = pd.read_csv(patient_csv)

route_csv = "route.csv"
route_df =pd.read_csv(route_csv)

In [6]:
rds_connection_string = "postgres:postgres@localhost:5432/ELT_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
engine.table_names()

['patient', 'route']

In [10]:
patient_df.to_sql(name='patient', con=engine, if_exists='append', index=False)

In [12]:
route_df.to_sql(name='route', con=engine, if_exists='append', index=False)

In [15]:
Aggregate_df = pd.read_sql_query('select * from patient A LEFT JOIN route B ON A.patient_id = B.patient_id', con=engine)

Aggregate_df

,patient_id,sex,birth_year,country,region,group,infection_reason,infection_order,infected_by,contact_number,...,region,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1,female,1984.0,China,filtered at airport,None,visit to Wuhan,1.0,NaN,45.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,45.0,2020-01-20,2020-02-06,None,released
1,1,female,1984.0,China,filtered at airport,None,visit to Wuhan,1.0,NaN,45.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,45.0,2020-01-20,2020-02-06,None,released
2,2,male,1964.0,Korea,filtered at airport,None,visit to Wuhan,1.0,NaN,75.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,75.0,2020-01-24,2020-02-05,None,released
3,2,male,1964.0,Korea,filtered at airport,None,visit to Wuhan,1.0,NaN,75.0,...,filtered at airport,0.0,visit to Wuhan,1.0,0.0,75.0,2020-01-24,2020-02-05,None,released
4,3,male,1966.0,Korea,capital area,None,visit to Wuhan,1.0,NaN,16.0,...,capital area,0.0,visit to Wuhan,1.0,0.0,16.0,2020-01-26,2020-02-12,None,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4860,2795,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
4861,3328,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
4862,2502,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
4863,2824,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None
4864,4237,None,NaN,Korea,None,None,None,NaN,NaN,NaN,...,None,NaN,None,NaN,NaN,NaN,None,None,None,None